{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'form/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'form/styles.css' %}">
    </head>
    <body>
        <h1>Create and inspect Entries</h1>

        <div id="nav">
            <button id="menu_form" class="menu" data-page="form">Form</button>
            <button id="menu_entries" class="menu" data-page="entries">Entries</button>
        </div>

        <div id="form" class="pages">
            <form action="{% url 'entry' %}" method="post">
                {% csrf_token %}
                <input name="entry" type="text" placeholder="Entry">
                <input type="submit">
            </form>
        </div>
        
        <div id="entries" class="pages">
            <ul>
                {% for entry in entries %}
                    <li>{{ entry }}</li>
                {% empty %}
                    <li>No entries</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>